@import 'tailwindcss';

.use--small{
    font-size: .75rem;
}
.use--medium{
    font-size: 1rem;
}
.use--large{
    font-size: 1.25rem;
}

input[type="email"]:invalid{
  

}
input[type="email"]:focus-visible:invalid{
  outline: 0;
  
}

